@charset "UTF-8";

li{
    list-style: none;
    color: white;
    font-family: 'Yellowtail', cursive;
}
.navbar-toggler{
    border-color: #fff000;
}
.navbar-toggler-icon{
    
}
.carousel-caption d-none d-md-block h1,p{
    font-family: 'Yellowtail', cursive;
}
.carousel-inner h1{
    font-family: 'Yellowtail', cursive;
}