@charset "UTF-8";

li{
    list-style: none;
    color: white;
    font-family: 'Yellowtail', cursive;
}

.carousel-caption d-none d-md-block h1,p{
    font-family: 'Yellowtail', cursive;
}
.carousel-inner h1{
    font-family: 'Yellowtail', cursive;
}
.card-body p{
    font-family: 'Yellowtail', cursive;
}
.works-wr{
    font-family: 'Yellowtail', cursive;
    border-bottom: solid 5px #7094F1;
    margin: 0 auto;
    width: 70px;
}
.intro-wr{
    font-family: 'Yellowtail', cursive;
    border-bottom: solid 5px #7094F1;
    margin: 0 auto;
    width: 100px;
}
.contact-wr{
    font-family: 'Yellowtail', cursive;
    border-bottom: solid 5px #7094F1;
    margin: 0 auto;
    width: 85px;
}




