@charset "UTF-8";

li{
    list-style: none;
    color: white;
    font-family: 'Yellowtail', cursive;
}

.carousel-caption d-none d-md-block h1,h6{
    font-family: 'Yellowtail', cursive;
}
.carousel-inner h1{
    font-family: 'Yellowtail', cursive;
}
.card-body{
    font-family: 'Yellowtail', cursive;
}
.works-wr{
    font-family: 'Yellowtail', cursive;
    border-bottom: solid 5px #7094F1;
    margin: 0 auto;
    width: 70px;
}
.intro-wr{
    font-family: 'Yellowtail', cursive;
    border-bottom: solid 5px #7094F1;
    margin: 0 auto;
    width: 100px;
}

.contact-wr{
    font-family: 'Yellowtail', cursive;
    border-bottom: solid 5px #7094F1;
    margin: 0 auto;
    width: 85px;
}
form{
    border:solid 1px black;
}

.btn{
    font-family: 'Yellowtail', cursive;
    color: white;
    border-radius: 20px;
    text-align: center;
}
footer{
    height: 100%;
    bottom: 0;
}
.intro-title h2{
    font-size: 40px;
    line-height: 1.5;
    font-family: 'Potta One', cursive;

}
.introduce h5{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 15px;
}
.introduce, text-center{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 15px;
}
label{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 15px;
}
.link:hover{
    color: white;
}
  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
#exampleModalCenter3{
    border-radius: 20px;
}
.modal-body{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 15px;
}
.modal-footer .btn{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 15px;
}
.modal-title{
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 15px;
}


